/*  charset ==================================================== */
@charset "utf-8";


/*---------------------------------------------------------------

  crm--infoArea

--------------------------------------------------------------- */
.crm--infoArea{
/*  padding:60px 0;*/
  /*PJごとに背景色、イメージをご指定ください*/
  /*background-image: -moz-linear-gradient( -2deg, rgb(20,46,119) 0%, rgb(11,50,139) 49%, rgb(10,31,121) 79%, rgb(9,11,103) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(20,46,119) 0%, rgb(11,50,139) 49%, rgb(10,31,121) 79%, rgb(9,11,103) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(20,46,119) 0%, rgb(11,50,139) 49%, rgb(10,31,121) 79%, rgb(9,11,103) 100%);
  background-size: contain;*/
}

.crm--infoArea{
  display: none;
  padding:60px 0;
  /*PJごとに背景色、イメージをご指定ください*/
/*
  background-image: -moz-linear-gradient( -2deg, rgb(101,177,108) 0%, rgb(101,177,108) 49%, rgb(101,177,108) 79%, rgb(101,177,108) 100%);
  background-image: -webkit-linear-gradient( -2deg, rgb(101,177,108) 0%, rgb(101,177,108) 49%, rgb(101,177,108) 79%, rgb(101,177,108) 100%);
  background-image: -ms-linear-gradient( -2deg, rgb(101,177,108) 0%, rgb(101,177,108) 49%, rgb(101,177,108) 79%, rgb(101,177,108) 100%);
*/
  background-color: #B1B3B6;
  background-size: contain;
}

.crm--infoArea h4 {
    font-size: 2.4rem;
    text-align: center;
  /*背景色に合わせて文字色をご指定ください*/
    color:#ffffff;
    margin-bottom:10px;
}
.crm--infoArea .crm--info-ttl{
  font-size: 2.4rem;
  text-align: center;
  /*PJごとに文字色を指定ください*/
  color:#ffffff;
}
.crm--infoArea .crm--infoArea--block{
  width: 90%;
  max-width: 1200px;
  margin:0 auto;
}
.crm--infoArea .crm--infoArea--block .bnr{
  text-align: center;
}

@media screen and (max-width: 480px) {
  .crm--infoArea{
    padding:10% 0;
  }
  .crm--infoArea h4 {
    font-size: 1.8rem;
  }
  .crm--infoArea .crm--info-ttl{
    font-size: 1.8rem;
  }
  .mid-info-news {
    margin-bottom: 5%;
    padding: 5%;
  }
  .mid-info-news-right {
    margin: 0;
    padding: 0;
  }
  .mid-info-news-title {
    font-size: 1.9rem;
    line-height: 1.3;
  }
  .mid-info-news-text {
    margin-top: 2%;
    font-size: 1.4rem;
  }
}
