@charset "UTF-8";
/* brake point */
/* 1rem=16px の設定*/
html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

body {
  font-family: YakuHanMP_Noto, 'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", "メイリオ", Meiryo, serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8rem; }

/* =========================================================
	font-weight & other font
========================================================== */
/* 「游明朝体」用CSS */
.bold {
  font-weight: bold; }

/* GoogleFonts「Garamond」用CSS */
.alphabetFont_Garamond {
  font-family: 'EB Garamond', serif;
  font-weight: 500; }

/* GoogleFonts「Cinzel」用CSS */
.alphabetFont_Cinzel {
  font-family: 'Cinzel', serif; }

img {
  border: none;
  vertical-align: bottom; }

/* font color */
/* header 
$header__nav_height: 143px;
$header__subnav_height: 0;
$header__nav_height_pc: 114px;
$header__nav_height_fat-nav_pc: 50px;*/
/* Gradient Color */
.gradientBrown {
  background: #5e4629;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5e4629 0%, #473621 81%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5e4629 0%, #473621 81%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5e4629 0%, #473621 81%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e4629', endColorstr='#473621',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.gradientGold {
  background: #b39c55;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #b39c55 0%, #958132 86%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #b39c55 0%, #958132 86%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #b39c55 0%, #958132 86%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b39c55', endColorstr='#958132',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.gradientBlack {
  background: #303039;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #303039 26%, #18171e 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #303039 26%, #18171e 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #303039 26%, #18171e 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303039', endColorstr='#18171e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

/* BT Gradient Color */
.gradientBrownBT {
  background-image: -moz-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -webkit-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -ms-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  transition: 0.5s;
  background-size: 500px 300px; }
  .gradientBrownBT:hover {
    opacity: 1;
    background-position: 100% 0; }

.gradientGoldBT {
  background-image: -moz-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  background-image: -webkit-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  background-image: -ms-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  transition: 0.5s;
  background-size: 500px 300px; }
  .gradientGoldBT:hover {
    opacity: 1;
    background-position: 100% 0; }

.gradientBlackBT {
  background-image: -moz-linear-gradient(-2deg, #303039 0%, #18171e 41%, #454552 68%, #303039 98%);
  background-image: -webkit-linear-gradient(-2deg, #303039 0%, #18171e 41%, #454552 68%, #303039 98%);
  background-image: -ms-linear-gradient(-2deg, #303039 0%, #18171e 41%, #454552 68%, #303039 98%);
  transition: 0.5s;
  background-size: 500px 300px; }
  .gradientBlackBT:hover {
    opacity: 1;
    background-position: 100% 0; }

/* =========================================================
	hack IE
========================================================== */
img {
  max-width: 100%;
  /*height:auto;*/ }

/* SP PC */
.pc {
  display: none; }
  @media screen and (min-width: 1104px) {
    .pc {
      display: block; } }

@media screen and (min-width: 1104px) {
  .sp {
    display: none; } }

.pcTab {
  display: none; }
  @media screen and (min-width: 767px) {
    .pcTab {
      display: block; } }

@media screen and (min-width: 960px) {
  .spTab {
    display: none; } }

/* float */
.floatL {
  float: left; }

.floatR {
  float: right; }

/* object-fit */
.hogehoge {
  object-fit: cover;
  object-position: bottom;
  font-family: "object-fit: cover; object-position: bottom;"; }

/* =========================================================
	.cap
========================================================== */
span.cap {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1%;
  color: #b5b5b5;
  font-size: 0.6875rem;
  background: rgba(30, 30, 30, 0.7);
  line-height: 1.4rem; }
  @media screen and (min-width: 1104px) {
    span.cap {
      font-size: 0.875rem;
      line-height: 1.6rem; } }

.min-note {
  font-size: 0.75rem;
  line-height: 1em; }
  @media screen and (min-width: 1104px) {
    .min-note {
      font-size: 0.75rem;
      line-height: 1.5em; } }

span.minuteWalkTimes {
  font-size: 0.05rem; }

/* =========================================================
	.alignfull  & .alignwide
========================================================== */
.alignfull {
  width: 100vw !important;
  margin-left: calc( 50% - 50vw );
  margin-right: calc( 50% - 50vw );
  max-width: none; }

@media screen and (max-width: 1103px) {
  .alignfull_sp {
    width: 100vw !important;
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    max-width: none; } }

@media screen and (min-width: 1104px) {
  .alignwide {
    width: 1602px !important;
    margin-left: calc( 50% - 1602px / 2 ) !important; } }

/* =========================================================
	.fade_in  & .digit
========================================================== */
.fade_in {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s;
  transition: opacity 1s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s; }
  .fade_in.visible {
    opacity: 1; }

.blur_in {
  position: relative;
  -ms-filter: blur(6px);
  filter: blur(6px);
  -webkit-transition: filter 1s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s;
  transition: filter 1s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s; }
  .blur_in.visible {
    filter: blur(0px); }

.blurDigit_in {
  position: relative;
  opacity: 0;
  -ms-filter: blur(6px);
  filter: blur(6px);
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: transform 1s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, filter 1s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 1s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s;
  transition: transform 1s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, filter 1s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 1s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s; }
  .blurDigit_in.visible {
    opacity: 1;
    filter: blur(0px);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.digit {
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: transform 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s;
  transition: transform 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s; }
  .digit.visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.looped {
  opacity: 0;
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: transform 0.6s ease-out 0s, opacity 0.6s ease-out 0s;
  transition: transform 0.6s ease-out 0s, opacity 0.6s ease-out 0s; }
  .looped.visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  @media screen and (min-width: 960px) {
    .looped:nth-child(2) {
      transition-delay: 0.3s; }
    .looped:nth-child(3) {
      transition-delay: 0.6s; }
    .looped:nth-child(4) {
      transition-delay: 0.75s; }
    .looped:nth-child(5) {
      transition-delay: 0.9s; }
    .looped:nth-child(6) {
      transition-delay: 1.05s; } }

.delay01, .delay02, .delay03, .delay04, .delay05 {
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out; }

.delay01 {
  transition-delay: 0.4s; }

.delay02 {
  transition-delay: 0.8s; }

.delay03 {
  transition-delay: 1.2s; }

.delay04 {
  transition-delay: 1.6s; }

.delay05 {
  transition-delay: 2.0s; }

/* =========================================================
	#pageTitle_small
========================================================== */
/* =========================================================
	#pageTitle_large
========================================================== */
/* =========================================================
	body font
========================================================== */
body {
  color: #313131;
  background: white; }

/* =========================================================
	links
========================================================== */
a {
  transition: 0.9s; }
  a:link, a:visited {
    text-decoration: none; }
  a:hover {
    opacity: 0.7; }

.tel-link a, .tel-link-image a {
  cursor: default; }

.tel-link a:hover, .tel-link-image a:hover {
  opacity: 1;
  cursor: default; }

/* =========================================================
	body- width
========================================================== */
section {
  width: 100%;
  overflow: hidden;
  text-align: center; }

.sectionWrap {
  margin: 0 20px;
  padding: 0;
  text-align: center; }
  @media screen and (min-width: 1104px) {
    .sectionWrap {
      width: 1200px;
      margin: 0 auto; } }

#submenu {
  margin-top: 150px; }
  #submenu ul {
    display: flex;
    display: -webkit-flex; }
  #submenu li {
    height: 30px;
    flex-flow: nowrap row; }

/* clearfix */
.clearfix {
  *zoom: 1;
  overflow: hidden; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden; }

/* =========================================================
	bottom__chushaku
========================================================== */
.bottom__chushaku {
  padding: 1em 1em 2em 1em;
  background: black;
  font-size: 0.75rem;
  line-height: 1.5em;
  color: #b5b5b5;
  text-align: left; }
  @media screen and (min-width: 1104px) {
    .bottom__chushaku {
      font-size: 0.8125rem; } }
  @media screen and (min-width: 1104px) {
    .bottom__chushaku .sectionWrap {
      padding: 0 68px; } }
  .bottom__chushaku .chushaku__body {
    padding-left: 2em;
    text-indent: -1em;
    padding-bottom: 0.5em; }

/* =====================================================
  #Header
===================================================== */
@media screen and (min-width: 960px) {
  body#index #Header {
    min-height: 70px; } }

@media screen and (min-width: 960px) {
  body.pages #Header {
    min-height: 0px; } }

/* =====================================================
  .SpNav
===================================================== */
.PcNav {
  display: none; }

.SpNavWrap {
  height: 60px; }
  @media screen and (min-width: 1104px) {
    .SpNavWrap {
      display: none; } }
  .SpNavWrap .logo {
    display: block;
    padding: 15px 0 0 10px;
    width: 270px;
    line-height: 0;
    float: left; }
    @media screen and (min-width: 420px) {
      .SpNavWrap .logo {
        padding: 18px 0 0 10px;
        width: 240px; } }

.SpNav {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6000; }
  .SpNav__openNemu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6002; }
    .SpNav__openNemu li {
      display: inline-block; }
      .SpNav__openNemu li:last-child {
        border-left: none;
        cursor: pointer; }
      .SpNav__openNemu li img {
        width: auto;
        height: 58px; }
    .SpNav__openNemu__Bt {
      position: relative; }
      .SpNav__openNemu__Bt span {
        position: absolute;
        display: block;
        width: 39px;
        height: 2px;
        background: #FFF;
        left: 12px;
        transition: .3s; }
        .SpNav__openNemu__Bt span:nth-of-type(1) {
          top: 14px; }
        .SpNav__openNemu__Bt span:nth-of-type(2) {
          top: 22px; }
        .SpNav__openNemu__Bt span:nth-of-type(3) {
          top: 30px; }
      .SpNav__openNemu__Bt.open span:nth-of-type(1) {
        top: 17px;
        transform: rotate(-45deg); }
      .SpNav__openNemu__Bt.open span:nth-of-type(2) {
        display: none; }
      .SpNav__openNemu__Bt.open span:nth-of-type(3) {
        top: 17px;
        transform: rotate(45deg); }

.SpNav__Gnav {
  float: none;
  display: none;
  overflow: hidden; }
  .SpNav__Gnav__mainNav {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    padding-bottom: 100px;
    padding-left: 0;
    z-index: 6001;
    top: 0;
    padding-top: 60px; }
    .SpNav__Gnav__mainNav li {
      display: block;
      float: left;
      border-right: 1px solid #7f8080;
      border-bottom: 1px solid #7f8080;
      width: 50%; }
      .SpNav__Gnav__mainNav li:first-child, .SpNav__Gnav__mainNav li:nth-child(2) {
        border-top: 1px solid #7f8080; }
      .SpNav__Gnav__mainNav li a,
      .SpNav__Gnav__mainNav li .comingsoon {
        position: relative;
        display: block;
        padding: 25px 10px;
        width: 100%;
        height: auto;
        line-height: 1;
        font-size: 0.8125rem;
        color: #191917;
        font-weight: 500;
        letter-spacing: 0.1em; }
      .SpNav__Gnav__mainNav li .comingsoon {
        color: #dcdcdc; }
      .SpNav__Gnav__mainNav li a::after,
      .SpNav__Gnav__mainNav li .comingsoon::after {
        display: none; }
      .SpNav__Gnav__mainNav li a:hover {
        background: #142e77;
        color: #FFF; }
      .SpNav__Gnav__mainNav li p {
        position: relative;
        text-align: center;
        transition: .1s; }
        .SpNav__Gnav__mainNav li p.nav_in::before {
          display: none; }
        .SpNav__Gnav__mainNav li p span {
          display: none; }
        .SpNav__Gnav__mainNav li p.hide {
          display: none; }
      .SpNav__Gnav__mainNav li.link_new {
        position: relative; }
      .SpNav__Gnav__mainNav li.link_new::after {
        position: absolute;
        display: inline-block;
        content: 'NEW';
        line-height: 1;
        color: #fff;
        background: red;
        text-align: center;
        font-size: 0.625rem;
        width: 42px;
        left: 0;
        top: 0;
        padding: 3px 0;
        transform: translateX(0); }

/* =====================================================
  .PcNav
===================================================== */
@media screen and (min-width: 1104px) {
  .PcNav {
    display: block; } }
.PcNav .bg {
  animation: bgAnime 0.5s ease-in 1 alternate forwards; }
.PcNav .bg-back {
  animation: bgAnimeBack 0.5s ease-in 1 alternate forwards; }
.PcNav .bg_Pages {
  animation: bgAnime_Pages 0.5s ease-in 1 alternate forwards; }
.PcNav .bg-back_Pages {
  animation: bgAnimeBack_Pages 0.5s ease-in 1 alternate forwards; }

@keyframes bgAnime {
  0% {
    background: rgba(255, 255, 255, 0.3); }
  100% {
    background: white; } }
@keyframes bgAnimeBack {
  0% {
    background: white; }
  100% {
    background: rgba(255, 255, 255, 0.3); } }
@keyframes bgAnime_Pages {
  0% {
    background: rgba(255, 255, 255, 0.5); }
  100% {
    background: white; } }
@keyframes bgAnimeBack_Pages {
  0% {
    background: white; }
  100% {
    background: rgba(255, 255, 255, 0.5); } }
.pages .PcNav {
  background: rgba(255, 255, 255, 0.9); }

.home .PcNav {
  background: rgba(255, 255, 255, 0.9); }

.HeaderMember .PcNav {
  background: white; }

.PcNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 70px;
  z-index: 5000; }
  .PcNav__upperRow {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .PcNav__upperRow__logo {
      padding: 8px 0 9px 10px;
      line-height: 0;
      width: 300px; }
    .PcNav__upperRow__SubNav {
      padding: 10px 28px 0 0;
      font-size: 0rem; }
      @media screen and (min-width: 767px) {
        .PcNav__upperRow__SubNav {
          padding: 0 28px 0 0; } }
      .PcNav__upperRow__SubNav li {
        display: inline-block;
        position: relative; }
        .PcNav__upperRow__SubNav li a {
          position: relative;
          display: block;
          padding-top: 18px;
          height: 50px;
          color: #000;
          line-height: 1;
          font-size: 0.9375rem;
          font-weight: 500; }
        .PcNav__upperRow__SubNav li li > a:hover {
          opacity: .7; }
        .PcNav__upperRow__SubNav li p {
          position: relative;
          padding: 0 30px;
          text-align: center;
          transition: .1s; }
          .PcNav__upperRow__SubNav li p .nav_in::after {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: "";
            width: 1px;
            height: 24px;
            background: #7f8080; }
        .PcNav__upperRow__SubNav li.request a {
          color: white;
          font-weight: 500; }
        .PcNav__upperRow__SubNav li.request p {
          padding: 0 50px; }
        .PcNav__upperRow__SubNav li.reserve a {
          color: white;
          font-weight: 500; }
        .PcNav__upperRow__SubNav li.reserve p {
          padding: 0 50px; }

.PcNav__Gnav {
  margin: 0 auto;
  width: 100%;
  max-width: 1640px; }
  .PcNav__Gnav__mainNav li {
    display: inline-block;
    position: relative;
    width: 12.8%;
    color: #191717; }
    .PcNav__Gnav__mainNav li a, .PcNav__Gnav__mainNav li .comingsoon {
      position: relative;
      display: block;
      padding-top: 20px;
      height: 50px;
      line-height: 1;
      font-size: 0.9375rem;
      color: #000;
      font-weight: 500;
      letter-spacing: 0.1em; }
    .PcNav__Gnav__mainNav li .comingsoon {
      color: rgba(0, 0, 0, 0.4); }
    .PcNav__Gnav__mainNav li p {
      position: relative;
      text-align: center;
      transition: .1s; }
      .PcNav__Gnav__mainNav li p.nav_in::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        content: "";
        width: 1px;
        height: 24px;
        background: #7f8080; }
    .PcNav__Gnav__mainNav li:nth-child(n+6) {
      width: 17%; }
    .PcNav__Gnav__mainNav li a::after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: "";
      width: 0;
      height: 3px;
      background: #142e77;
      transition: .3s; }
    .PcNav__Gnav__mainNav li a:hover::after {
      width: calc(100% + 4px); }
    .PcNav__Gnav__mainNav li.current > a::after {
      width: calc(100% + 4px); }
    .PcNav__Gnav__mainNav li.link_new {
      position: relative; }
    .PcNav__Gnav__mainNav li.link_new::after {
      position: absolute;
      display: inline-block;
      content: 'NEW';
      line-height: 1;
      color: #fff;
      background: red;
      text-align: center;
      left: 50%;
      top: 2px;
      font-size: 0.625rem;
      padding: 2px 0;
      width: 42px;
      transform: translateX(-50%); }

.PcNav__Gnav__mainNav li:hover .PcNav__Gnav__mainNav__underlayerNav {
  visibility: visible;
  opacity: 1;
  padding-left: 0; }
.PcNav__Gnav__mainNav__underlayerNav {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  background: rgba(255, 255, 255, 0.95);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  visibility: hidden;
  opacity: 0; }
  .PcNav__Gnav__mainNav__underlayerNav li {
    display: block;
    width: 100%; }
    .PcNav__Gnav__mainNav__underlayerNav li a {
      display: block;
      width: 100%;
      border-bottom: solid 1px #dcdcdc;
      font-size: 0.875rem;
      height: auto;
      padding: 16px 0;
      line-height: 1.3; }
      .PcNav__Gnav__mainNav__underlayerNav li a::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        content: "";
        width: 0;
        height: 2px;
        background: #142e77;
        transition: .3s; }
      .PcNav__Gnav__mainNav__underlayerNav li a:hover::after {
        width: 100%; }
    .PcNav__Gnav__mainNav__underlayerNav li.current > a::after {
      height: 3px;
      width: 100%;
      /*	left:15%;*/ }

.HeaderMember .PcNav__Gnav .PcNav__Gnav__mainNav li {
  width: 24%; }

/*.PcNav__Gnav ul li:last-child p.nav_in::after {
	position: absolute;
	left:100%;
	top:50%;
	transform:translateY(-50%);
	display:block;
	content:"";
	width: 1px;
	height: 24px;
	background:#7f8080;	
}
*/
/*.PcNav__Gnav .PcNav__Gnav__mainNav li li.link_new::after{
	left: 4px;
	top: 4px;
	font-size: 1.0rem;
	padding: 3px 6px;
	width: auto;
	color: #ab2222;
	background: none;
	transform: translateX(0);
	border-right: solid 1px #ab2222;
	border-bottom: solid 1px #ab2222;
}*/
/* =========================================================
	Footer 注釈 #Notes
========================================================== */
#Notes {
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  #Notes .yokokuTitle {
    font-size: 0.8125rem;
    margin-bottom: 0.5em;
    text-align: left; }
    @media screen and (min-width: 767px) {
      #Notes .yokokuTitle {
        font-size: 0.875rem; } }
  #Notes .yokokuRead {
    font-size: 0.6875rem;
    margin-bottom: 10px;
    text-align: left; }
    @media screen and (min-width: 767px) {
      #Notes .yokokuRead {
        font-size: 0.75rem; } }
  #Notes li {
    text-indent: -1em;
    margin-left: 1em;
    font-size: 0.6875rem;
    color: #707070;
    text-align: left; }
    @media screen and (min-width: 767px) {
      #Notes li {
        font-size: 0.75rem; } }
  #Notes li + li {
    margin-top: 4px; }

/* =========================================================
	#Footer
========================================================== */
/*.att-home #Footer,
.home #Footer{
	padding-bottom: 0;
}*/
#Footer {
  padding-top: 27px;
  text-align: center;
  color: #000;
  padding-bottom: 25%; }
  @media screen and (min-width: 767px) {
    #Footer {
      padding-bottom: 20px; } }
  #Footer .bnr {
    display: block;
    max-width: initial; }
    @media screen and (min-width: 767px) {
      #Footer .bnr {
        display: flex;
        max-width: 810px;
        margin: 0 auto 30px; } }
  #Footer li {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px; }
    @media screen and (min-width: 767px) {
      #Footer li {
        width: 33.33%;
        padding: 0 7px;
        margin-bottom: 0; } }
    #Footer li img {
      width: 100%; }
  #Footer .footer_logo {
    display: block;
    max-width: initial;
    margin: 0 auto 25px; }
    @media screen and (min-width: 767px) {
      #Footer .footer_logo {
        display: flex;
        max-width: 630px;
        margin: 0 auto 55px; } }
    #Footer .footer_logo li {
      width: 70%;
      padding: 0;
      margin: 0 auto; }
      @media screen and (min-width: 767px) {
        #Footer .footer_logo li {
          width: 100%;
          padding: 0 44px 0 0; } }
      #Footer .footer_logo li:last-child {
        margin-top: 10px;
        padding: 0; }
  #Footer h1 {
    font-size: 0.6875rem;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 1.4em; }
    @media screen and (min-width: 767px) {
      #Footer h1 {
        font-size: 0.8125rem; } }
  #Footer .copyright {
    font-size: 0.6875rem;
    text-align: center;
    border-top: 1px solid #b5b5b5;
    padding: 10px 0 15px;
    line-height: 1.4em; }

/* =========================================================
	SP用  #footFixNav
========================================================== */
#footFixNav {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background: white; }
  @media screen and (min-width: 767px) {
    #footFixNav {
      display: none; } }
  #footFixNav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #252e73; }
    #footFixNav ul li {
      padding: 3%;
      box-sizing: border-box;
      border-right: 1px solid #252e73;
      text-align: center;
      flex-grow: 1; }
      #footFixNav ul li img {
        width: 53px;
        height: 40px; }
      #footFixNav ul li:last-of-type {
        border-right: none; }

/* =====================================================
  #Cv
===================================================== */
#Cv {
  padding: 30px 0 15px 0;
  color: #000; }
  @media screen and (min-width: 767px) {
    #Cv {
      padding: 70px 0 20px; } }
  #Cv .cv-box {
    display: block;
    height: auto;
    width: 100%;
    border: 1px solid #CFCCC3; }
    @media screen and (min-width: 767px) {
      #Cv .cv-box {
        display: table; } }
    #Cv .cv-box > div {
      display: block;
      width: 100%;
      padding: 15px;
      text-align: center; }
      @media screen and (min-width: 767px) {
        #Cv .cv-box > div {
          display: table-cell;
          width: 50%;
          padding: 35px 10px;
          vertical-align: middle; } }
    #Cv .cv-box .req {
      border-left: none; }
  #Cv .inq {
    border-bottom: 1px solid #CFCCC3;
    font-size: 0.6875rem;
    line-height: 1.4; }
    @media screen and (min-width: 767px) {
      #Cv .inq {
        border-bottom: none;
        border-right: 1px solid #CFCCC3;
        font-size: 0.8125rem;
        line-height: 1.2; } }
    #Cv .inq .txt {
      margin-bottom: 20px;
      font-size: 0.9375rem;
      letter-spacing: none; }
      @media screen and (min-width: 767px) {
        #Cv .inq .txt {
          font-size: 1.25rem; } }
      @media screen and (min-width: 767px) {
        #Cv .inq .txt .txt__read {
          font-size: 0.9375rem;
          margin-bottom: 15px; } }
    #Cv .inq .tel {
      width: 90%;
      margin: 0 auto 15px auto;
      color: #7b5322; }
      @media screen and (min-width: 767px) {
        #Cv .inq .tel {
          width: 320px;
          margin: 0 auto 17px auto; } }
      @media screen and (min-width: 960px) {
        #Cv .inq .tel {
          width: 360px; } }
    #Cv .inq .business-hour {
      margin-bottom: 15px;
      font-size: 0.75rem; }
      @media screen and (min-width: 767px) {
        #Cv .inq .business-hour {
          font-size: 1rem; } }
  #Cv .req .txt {
    margin-bottom: 15px;
    font-size: 0.8125rem;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: left; }
    @media screen and (min-width: 767px) {
      #Cv .req .txt {
        text-align: center;
        font-size: 0.9375rem; } }
  #Cv .req .btn {
    padding: 0; }
    @media screen and (min-width: 767px) {
      #Cv .req .btn {
        padding: 0 70px; } }

/* =====================================================
  pageTop
===================================================== */
#pageTop {
  display: block;
  position: fixed;
  bottom: 70px;
  right: 0;
  text-align: center;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s;
  transition: opacity 0.5s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s; }
  #pageTop.visible {
    opacity: 1; }
  @media screen and (min-width: 1104px) {
    #pageTop {
      bottom: 20px;
      right: 20px; } }
  #pageTop a {
    display: block;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    text-align: center;
    opacity: 0.8;
    background: #898989;
    color: #FFF;
    text-decoration: none;
    border-radius: 0; }
    @media screen and (min-width: 1104px) {
      #pageTop a {
        width: 55px;
        height: 55px; } }
    #pageTop a span {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      /*位置調整*/ }
      #pageTop a span img {
        width: 50%; }
    #pageTop a::before {
      /*	font-family: "Font Awesome 5 Free";
      content: '\f062'; 
      font-weight: 900;
      font-size: 6vw;
      color: #fff;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -60px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
      @include breakpoint-xl {
      	position: absolute;
      	width: 25px;
      	height: 25px;
      	top: -60px;
      	bottom: 0;
      	right: 0;
      	left: 0;
      	margin: auto;
      	text-align: center;
      }
      */ }

/*--------------------------------------------------------------------------
   #ContentBlock
---------------------------------------------------------------------------*/
#ContentBlock {
  margin-top: 40px; }
  @media screen and (min-width: 767px) {
    #ContentBlock {
      margin-top: 96px; } }

.notes_common {
  display: inline-block;
  padding-top: 1em;
  text-align: left;
  font-size: 0.6875rem;
  line-height: 1.5em;
  letter-spacing: 0; }
  @media screen and (min-width: 960px) {
    .notes_common {
      font-size: 0.875rem;
      line-height: 1.6em; } }

/* page-ttl
-----------------------------------------------------------------*/
.sectionPageTitle {
  animation-name: Bgfade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes Bgfade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.sectionPageTitle__text {
  position: relative;
  height: 180px; }
  @media screen and (min-width: 767px) {
    .sectionPageTitle__text {
      height: 350px; } }

.sectionPageTitle__text h2 {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  text-align: center;
  color: #FFF; }
  @media screen and (min-width: 767px) {
    .sectionPageTitle__text h2 {
      top: 180px;
      left: 0; } }

.sectionPageTitle__text h2 .sectionPageTitle__text_sub {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  font-weight: normal;
  font-size: 1.875rem;
  letter-spacing: 3px; }
  @media screen and (min-width: 767px) {
    .sectionPageTitle__text h2 .sectionPageTitle__text_sub {
      font-size: 2.8125rem; } }
  .sectionPageTitle__text h2 .sectionPageTitle__text_sub::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    /*線の上下位置*/
    display: inline-block;
    width: 64px;
    height: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: white; }
    @media screen and (min-width: 767px) {
      .sectionPageTitle__text h2 .sectionPageTitle__text_sub::before {
        bottom: -20px;
        /*線の上下位置*/ } }

.sectionPageTitle__text h2 .sectionPageTitle__text_main {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 54px;
  font-size: 0.8125rem;
  line-height: 1;
  font-weight: 400; }
  @media screen and (min-width: 767px) {
    .sectionPageTitle__text h2 .sectionPageTitle__text_main {
      top: 80px;
      font-size: 1rem; } }

/* btn-req
-----------------------------------------------------------------*/
.gradientBrownBT {
  background-image: -moz-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -webkit-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -ms-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  transition: 0.5s;
  background-size: 500px 300px; }
  .gradientBrownBT:hover {
    opacity: 1;
    background-position: 100% 0; }

.btn-req a,
.btn-res a,
.btn-arw a,
.btn-arw span {
  position: relative;
  display: block;
  max-width: 485px;
  margin: 0 auto;
  padding: 22px 0;
  color: #FFF;
  line-height: 1;
  font-size: 1.125rem;
  text-align: center;
  transition: .3s; }

.btn-req a {
  background-image: -moz-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -webkit-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -ms-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-size: 1200px 600px;
  margin-bottom: 10px; }

.btn-res a {
  background-image: -moz-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  background-image: -webkit-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  background-image: -ms-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  background-size: 1200px 600px; }

.btn-req a:hover,
.btn-res a:hover,
.btn-arw a:hover {
  opacity: 1;
  background-position: 100% 0; }

.btn-req a::after,
.btn-res a::after,
.btn-arw a::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 27px;
  height: 12px;
  background: url(../img/common/arw_btn.png) no-repeat;
  background-size: 100% auto;
  transition: .3s; }

.btn-req a:hover::after,
.btn-res a:hover::after,
.btn-arw a:hover::after {
  right: 10px; }

@media screen and (max-width: 768px) {
  .btn-req a,
  .btn-res a,
  .btn-arw a,
  .btn-arw span {
    max-width: initial;
    padding: 18px 0;
    font-size: 1rem; }

  .btn-req a::after,
  .btn-res a::after,
  .btn-arw a::after {
    right: 12px;
    width: 10px;
    height: 8px; }

  .btn-req a:hover::after,
  .btn-res a:hover::after,
  .btn-arw a:hover::after {
    right: 8px; } }
/*-----------
   fix_bnr
-------*/
.fix_bnr {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #d7d5ca;
  text-align: center;
  padding: 15px;
  box-shadow: 0px -1px 8px 1px rgba(68, 56, 49, 0.5);
  z-index: 4000;
  opacity: 1;
  transition: all .6s;
  pointer-events: auto;
  cursor: pointer; }
  .fix_bnr .hide {
    bottom: -50px;
    opacity: 0;
    pointer-events: none;
    cursor: default; }

.att-home .fix_bnr,
.att-home .fix_bnr.show,
.att-middle .fix_bnr,
.att-middle .fix_bnr.show,
.home .fix_bnr,
.home .fix_bnr.show {
  display: none; }
