@charset "UTF-8";
/* brake point */
/* 1rem=16px の設定*/
html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

body {
  font-family: YakuHanMP_Noto, 'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", "メイリオ", Meiryo, serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8rem; }

/* =========================================================
	font-weight & other font
========================================================== */
/* 「游明朝体」用CSS */
.bold {
  font-weight: bold; }

/* GoogleFonts「Garamond」用CSS */
.alphabetFont_Garamond {
  font-family: 'EB Garamond', serif;
  font-weight: 500; }

/* GoogleFonts「Cinzel」用CSS */
.alphabetFont_Cinzel {
  font-family: 'Cinzel', serif; }

img {
  border: none;
  vertical-align: bottom; }

/* font color */
/* header 
$header__nav_height: 143px;
$header__subnav_height: 0;
$header__nav_height_pc: 114px;
$header__nav_height_fat-nav_pc: 50px;*/
/* Gradient Color */
.gradientBrown {
  background: #5e4629;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5e4629 0%, #473621 81%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5e4629 0%, #473621 81%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5e4629 0%, #473621 81%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e4629', endColorstr='#473621',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.gradientGold {
  background: #b39c55;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #b39c55 0%, #958132 86%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #b39c55 0%, #958132 86%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #b39c55 0%, #958132 86%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b39c55', endColorstr='#958132',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.gradientBlack {
  background: #303039;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #303039 26%, #18171e 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #303039 26%, #18171e 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #303039 26%, #18171e 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303039', endColorstr='#18171e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

/* BT Gradient Color */
.gradientBrownBT {
  background-image: -moz-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -webkit-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  background-image: -ms-linear-gradient(0deg, #594227 0%, #43331f 32%, #303039 73%, #18171e 100%);
  transition: 0.5s;
  background-size: 500px 300px; }
  .gradientBrownBT:hover {
    opacity: 1;
    background-position: 100% 0; }

.gradientGoldBT {
  background-image: -moz-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  background-image: -webkit-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  background-image: -ms-linear-gradient(0deg, #b39c55 0%, #958132 39%, #303039 69%, #19181f 99%);
  transition: 0.5s;
  background-size: 500px 300px; }
  .gradientGoldBT:hover {
    opacity: 1;
    background-position: 100% 0; }

.gradientBlackBT {
  background-image: -moz-linear-gradient(-2deg, #303039 0%, #18171e 41%, #454552 68%, #303039 98%);
  background-image: -webkit-linear-gradient(-2deg, #303039 0%, #18171e 41%, #454552 68%, #303039 98%);
  background-image: -ms-linear-gradient(-2deg, #303039 0%, #18171e 41%, #454552 68%, #303039 98%);
  transition: 0.5s;
  background-size: 500px 300px; }
  .gradientBlackBT:hover {
    opacity: 1;
    background-position: 100% 0; }

/* =========================================================
	hack IE
========================================================== */
img {
  max-width: 100%;
  /*height:auto;*/ }

/* SP PC */
.pc {
  display: none; }
  @media screen and (min-width: 1104px) {
    .pc {
      display: block; } }

@media screen and (min-width: 1104px) {
  .sp {
    display: none; } }

.pcTab {
  display: none; }
  @media screen and (min-width: 767px) {
    .pcTab {
      display: block; } }

@media screen and (min-width: 960px) {
  .spTab {
    display: none; } }

/* float */
.floatL {
  float: left; }

.floatR {
  float: right; }

/* object-fit */
.hogehoge {
  object-fit: cover;
  object-position: bottom;
  font-family: "object-fit: cover; object-position: bottom;"; }

/* =========================================================
	.cap
========================================================== */
span.cap {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1%;
  color: #b5b5b5;
  font-size: 0.6875rem;
  background: rgba(30, 30, 30, 0.7);
  line-height: 1.4rem; }
  @media screen and (min-width: 1104px) {
    span.cap {
      font-size: 0.75rem;
      line-height: 1.3rem; } }

.min-note {
  font-size: 0.75rem;
  line-height: 1.3em; }
  @media screen and (min-width: 1104px) {
    .min-note {
      font-size: 0.75rem;
      line-height: 1.5em; } }

span.minuteWalkTimes {
  font-size: 0.05rem; }

/* =========================================================
	.alignfull  & .alignwide
========================================================== */
.alignfull {
  width: 100vw !important;
  margin-left: calc( 50% - 50vw );
  margin-right: calc( 50% - 50vw );
  max-width: none; }

@media screen and (max-width: 1103px) {
  .alignfull_sp {
    width: 100vw !important;
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    max-width: none; } }

@media screen and (min-width: 1104px) {
  .alignwide {
    width: 1602px !important;
    margin-left: calc( 50% - 1602px / 2 ) !important;
    margin-right: calc( 50% - 1602px / 2 ) !important; } }

/* =========================================================
	.fade_in  & .digit
========================================================== */
.fade_in {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s;
  transition: opacity 1s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s; }
  .fade_in.visible {
    opacity: 1; }

.blur_in {
  position: relative;
  -ms-filter: blur(6px);
  filter: blur(6px);
  -webkit-transition: filter 0.5s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s;
  transition: filter 0.5s cubic-bezier(0.7, 0.02, 0.58, 0.88) 0s; }
  .blur_in.visible {
    filter: blur(0px); }

.blurDigit_in {
  position: relative;
  opacity: 0;
  -ms-filter: blur(6px);
  filter: blur(6px);
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: transform 0.5s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, filter 0.5s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 0.5s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s;
  transition: transform 0.5s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, filter 0.5s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 0.5s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s; }
  .blurDigit_in.visible {
    opacity: 1;
    filter: blur(0px);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.digit {
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: transform 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s;
  transition: transform 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s, opacity 2s cubic-bezier(0.16, 0.91, 0.7, 0.95) 0s; }
  .digit.visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.looped {
  opacity: 0;
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: transform 0.6s ease-out 0s, opacity 0.6s ease-out 0s;
  transition: transform 0.6s ease-out 0s, opacity 0.6s ease-out 0s; }
  .looped.visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  @media screen and (min-width: 960px) {
    .looped:nth-child(2) {
      transition-delay: 0.3s; }
    .looped:nth-child(3) {
      transition-delay: 0.6s; }
    .looped:nth-child(4) {
      transition-delay: 0.75s; }
    .looped:nth-child(5) {
      transition-delay: 0.9s; }
    .looped:nth-child(6) {
      transition-delay: 1.05s; } }

.delay01, .delay02, .delay03, .delay04, .delay05 {
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out; }

.delay01 {
  transition-delay: 0.4s; }

.delay02 {
  transition-delay: 0.8s; }

.delay03 {
  transition-delay: 1.2s; }

.delay04 {
  transition-delay: 1.6s; }

.delay05 {
  transition-delay: 2.0s; }

/* =========================================================
	#pageTitle_small
========================================================== */
/* =========================================================
	#pageTitle_large
========================================================== */
/* =========================================================
	body font
========================================================== */
body {
  color: #313131;
  background: white; }

/* =========================================================
	links
========================================================== */
a {
  transition: 0.9s; }
  a:link, a:visited {
    text-decoration: none; }
  a:hover {
    opacity: 0.7; }

.tel-link a, .tel-link-image a {
  cursor: default; }

.tel-link a:hover, .tel-link-image a:hover {
  opacity: 1;
  cursor: default; }

/* =========================================================
	body- width
========================================================== */
section {
  width: 100%;
  overflow: hidden;
  text-align: center; }

.sectionWrap {
  margin: 0 20px;
  padding: 0;
  text-align: center; }
  @media screen and (min-width: 1104px) {
    .sectionWrap {
      width: 1200px;
      margin: 0 auto; } }

#submenu {
  margin-top: 150px; }
  #submenu ul {
    display: flex;
    display: -webkit-flex; }
  #submenu li {
    height: 30px;
    flex-flow: nowrap row; }

/* clearfix */
.clearfix {
  *zoom: 1;
  overflow: hidden; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden; }

/* =========================================================
	.page-ttl
========================================================== */
.sectionPageTitle {
  background: url(../images/member/blog/member_blog_bg_ttl_sp.png) no-repeat center bottom;
  background-size: cover; }
  @media screen and (min-width: 767px) {
    .sectionPageTitle {
      background: url(../images/member/blog/member_blog_bg_ttl_pc.png) no-repeat center 30%;
      background-size: cover; } }

#Content .sectionPageTitle__text_sub {
  font-size: 1rem; }
  #Content .sectionPageTitle__text_sub::before {
    content: none; }
#Content .sectionPageTitle__text_main {
  /*font-size: 1.5625rem;
  top: 50px;*/ }

/* =========================================================
	.blog_contents
========================================================== */

#ContentBlock{
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
}

.blog_title h3{
  margin-bottom: 30px;
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    font-weight: normal;
    color: #181878;
}

.blog_title p{
  font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 70px;
}


.blog_sec{
  border-top: solid 1px #c4c4c4;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: left;
}

.blog_sec .day{
  font-size: 2.0rem;
  color: #181878;
}

.blog_sec .day span{
  background-color: red;
  padding: 4px 17px;
  margin-right: 20px;
  color: #fff;
  font-size: 1.2rem;
}

.blog_sec h4{
  margin-top: 30px;
  margin-bottom: 30px;
    font-size: 2.5rem;
    line-height: 1.5;
    letter-spacing: 3px;
    font-weight: normal;
}

.blog_sec p{
  font-size: 1.5rem;
  line-height: 2.2;
}

.ph_single{
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.ph_double{
  width: 48%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  float: left;
}


.ph_triple{
  width: 48%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  float: right;
}


.ph_double img{
  width: 100%;
  display: inline-block;
}

.mrb0{
  margin-right: 0%;
}

.btn_map{
  clear: both;
  display: block;
  position: relative;
  max-width: 485px;
  margin: 40px auto 0;
  padding: 22px 0;
  color: #FFF;
  line-height: 1;
  font-size: 1.125rem;
  text-align: center;
  transition: .3s;
  background-image: -webkit-linear-gradient(-2deg, #303039 0%, #18171e 41%, #454552 68%, #303039 98%);
  background-size: 1200px 600px;
  margin-bottom: 10px;
}

.btn_map:after {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 27px;
    height: 12px;
    background: url(../images/common/arw_btn.png) no-repeat;
    background-size: 100% auto;
    transition: .3s;
  }

.btn_map:hover{
  opacity: 1;
    background-position: 100% 0;
}

.btn_map p{
  color: #fff;
}


figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.05em;
    font-size: 1rem;
    line-height: 1.2em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
  }



@media screen and (max-width: 767px) {
  .blog_title,.blog_title h3{
    text-align: left;
  }


.ph_double{
  width: 100%;
  margin-top: 30px;
  display:block;
  position: relative;
}

.ph_triple{
  width: 100%;
  margin-top: 30px;
  display:block;
  position: relative;
}


.mrb0{
  margin-bottom: 4%;
}


}

.come{
  text-align: left;
}





