@charset "UTF-8";
/* brake point */
/* font color */
/* =========================================================
	hack IE
========================================================== */
/* =========================================================
	.alignfull  & .alignwide
========================================================== */
.alignfull {
  width: 100vw !important;
  margin-left: calc( 50% - 50vw );
  margin-right: calc( 50% - 50vw );
  max-width: none; }

@media screen and (max-width: 1103px) {
  .alignfull_sp {
    padding: 0;
    width: 100vw !important;
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    max-width: none; } }

@media screen and (min-width: 1104px) {
  .alignwide {
    width: 1104px !important;
    margin-left: calc( 50% - 1104px / 2 ) !important; } }

/* =========================================================
	.cap
========================================================== */
span.cap {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1%;
  color: #bfbfbf;
  font-size: 1.1rem;
  background: rgba(30, 30, 30, 0.7); }
  @media screen and (min-width: 1104px) {
    span.cap {
      font-size: 1.4rem;
      line-height: 1.6rem; } }

.min-note {
  font-size: 1.2rem; }
  @media screen and (min-width: 1104px) {
    .min-note {
      font-size: 0.8rem; } }

span.minuteWalkTimes {
  font-size: 0.8em; }

/* =========================================================
	.sectionTitle
========================================================== */
.sectionTitle {
  position: relative; }
  .sectionTitle .sectionTitle__sub {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 1.5rem;
    color: #1f1f1f; }
    @media screen and (min-width: 1104px) {
      .sectionTitle .sectionTitle__sub {
        font-size: 2rem;
        margin-bottom: 2em; } }
  .sectionTitle h3 {
    color: #142e77;
    font-size: 2.5rem;
    line-height: 1.5em;
    text-align: center; }
    @media screen and (min-width: 1104px) {
      .sectionTitle h3 {
        font-size: 3.8rem;
        font-weight: 600;
        line-height: 1.7em;
        letter-spacing: 0.1em; } }

.heightLine::before {
  content: "";
  display: block;
  flex-grow: 1;
  background: #1f1f1f;
  width: 1px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: -85px; }
  @media screen and (min-width: 1104px) {
    .heightLine::before {
      height: 95px;
      top: -115px; } }

h4 {
  margin-bottom: 1em;
  font-size: 2rem;
  line-height: 1.5em;
  color: #70452e;
  text-align: center; }
  @media screen and (min-width: 1104px) {
    h4 {
      margin-bottom: 2em;
      font-size: 2.8rem;
      line-height: 1.8em;
      font-weight: 600; } }

.sideAlphabet {
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sideAlphabet::before {
    content: '';
    width: 5%;
    max-width: 15px;
    min-width: 10px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle; }

/* =========================================================
	.gotoBT
========================================================== */
.gotoBT a {
  max-width: initial;
  padding: 18px 0;
  font-size: 1.6rem;
  position: relative;
  display: block;
  margin: 0 auto 10px auto;
  background: #142e77;
  color: #FFF;
  line-height: 1;
  text-align: center;
  transition: .3s; }
  @media screen and (min-width: 1104px) {
    .gotoBT a {
      max-width: 485px;
      padding: 22px 0;
      font-size: 1.8rem; } }

.gotoBT a:hover {
  opacity: .7; }

.gotoBT a::after {
  right: 12px;
  width: 9px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  background: url(../images/common/arw_btn.png) no-repeat;
  background-size: 100% auto;
  transition: .3s; }
  @media screen and (min-width: 1104px) {
    .gotoBT a::after {
      right: 20px; } }

.gotoBT a:hover::after {
  right: 8px; }
  @media screen and (min-width: 1104px) {
    .gotoBT a:hover::after {
      right: 10px; } }

.gotoBT.white a {
  background: white;
  color: #191917; }

.gotoBT.white a::after {
  background: url(../images/common/arw_btn_black.png) no-repeat;
  background-size: 100% auto; }

.gotoBT_comingsoon span {
  max-width: initial;
  padding: 18px 0;
  font-size: 1.6rem;
  position: relative;
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid white;
  color: white;
  line-height: 1;
  text-align: center;
  opacity: .8; }
  @media screen and (min-width: 1104px) {
    .gotoBT_comingsoon span {
      max-width: 485px;
      padding: 22px 0;
      font-size: 1.8rem; } }

.gotoBT_comingsoon.op04 span {
  opacity: .4; }

/* =========================================================
	.page-ttl
========================================================== */
#Content .page-ttlBg {
  background: #142e77 url(../images/member/column_interview02/bg_ttl_sp.png) no-repeat;
  background-size: cover;
  background-position: center top; }
  @media screen and (min-width: 767px) {
    #Content .page-ttlBg {
      background: url(../images/member/column_interview02/bg_ttl.png) no-repeat;
      background-size: cover;
      background-position: 25% bottom; } }
  #Content .page-ttlBg h2 {
    position: relative;
    top: auto;
    left: auto;
    text-align: left; }
  #Content .page-ttlBg .page-ttl {
    height: 110vw;
    max-height: 500px; }
    @media screen and (min-width: 767px) {
      #Content .page-ttlBg .page-ttl {
        max-height: 450px; } }
    @media screen and (min-width: 1104px) {
      #Content .page-ttlBg .page-ttl {
        max-height: 600px; } }
    #Content .page-ttlBg .page-ttl__innerBlock {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background: #142e77;
      color: white; }
      @media screen and (min-width: 767px) {
        #Content .page-ttlBg .page-ttl__innerBlock {
          background: rgba(20, 46, 119, 0.75);
          position: absolute;
          top: 50%;
          right: 20px;
          bottom: inherit;
          padding: 15px;
          width: 50%;
          max-width: 520px;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          /*位置調整*/ } }
      @media screen and (min-width: 1104px) {
        #Content .page-ttlBg .page-ttl__innerBlock {
          top: 150px;
          right: auto;
          left: 70%;
          bottom: inherit;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          /*位置調整*/
          padding: 40px; } }
      #Content .page-ttlBg .page-ttl__innerBlock__subTitle {
        margin-bottom: 1em;
        display: inline-block;
        color: #a69266;
        border-bottom: 1px solid #a69266; }
        @media screen and (min-width: 1104px) {
          #Content .page-ttlBg .page-ttl__innerBlock__subTitle {
            font-size: 2rem; } }
      #Content .page-ttlBg .page-ttl__innerBlock__title {
        margin-bottom: .5em;
        font-size: 1.8rem;
        font-weight: 500; }
        @media screen and (min-width: 1104px) {
          #Content .page-ttlBg .page-ttl__innerBlock__title {
            font-size: 4rem;
            line-height: 1.5em; } }
        #Content .page-ttlBg .page-ttl__innerBlock__title span.small {
          position: static;
          font-size: 1.8rem; }
      #Content .page-ttlBg .page-ttl__innerBlock__read {
        font-size: 1.4rem;
        line-height: 1.5em; }
        #Content .page-ttlBg .page-ttl__innerBlock__read p:nth-child(2) {
          margin-top: 1em; }
        @media screen and (min-width: 1104px) {
          #Content .page-ttlBg .page-ttl__innerBlock__read {
            font-size: 1.8rem;
            margin-bottom: 1em; } }

#interview02 figure {
  position: relative; }
  #interview02 figure figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .1em .2em;
    font-size: 1.2rem;
    line-height: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.8); }

#interview02 .sectionWrap {
  padding-bottom: 4em; }
  @media screen and (min-width: 767px) {
    #interview02 .sectionWrap {
      padding: 0 .5em 4em .5em;
      font-size: 1.5rem; } }
  @media screen and (min-width: 1104px) {
    #interview02 .sectionWrap {
      padding: 0 80px 94px 80px;
      font-size: 1.6rem; } }

.mainTitle {
  margin-bottom: 2em;
  padding: 4em 0 0 0;
  border-left: 4px solid #142e77; }
  @media screen and (min-width: 1104px) {
    .mainTitle {
      padding: 130px 0 0 0; } }
  .mainTitle .mainTitle__read {
    padding-left: 15px;
    padding-bottom: .5em;
    color: #142e77;
    border-bottom: 4px solid #142e77; }
    @media screen and (min-width: 1104px) {
      .mainTitle .mainTitle__read {
        padding-left: 30px; } }
    .mainTitle .mainTitle__read__part {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: .5em;
      line-height: 1.5em; }
      .mainTitle .mainTitle__read__part span.num {
        padding: 0 .3em;
        color: white;
        background: #142e77;
        font-size: 1.2rem; }
        @media screen and (min-width: 1104px) {
          .mainTitle .mainTitle__read__part span.num {
            font-size: 1.8rem; } }
        .mainTitle .mainTitle__read__part span.num em {
          padding-left: .2em;
          font-style: normal; }
      .mainTitle .mainTitle__read__part span.text {
        padding-left: .3em;
        font-weight: 600;
        font-size: 2rem; }
        @media screen and (min-width: 1104px) {
          .mainTitle .mainTitle__read__part span.text {
            font-size: 2.7rem; } }
    .mainTitle .mainTitle__read__text {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2em; }
      @media screen and (min-width: 1104px) {
        .mainTitle .mainTitle__read__text {
          font-size: 2rem;
          line-height: 2.2em; } }
  .mainTitle h3.mainTitle__title {
    padding-left: 15px;
    padding-top: 1em;
    color: #142e77;
    font-size: 2rem;
    line-height: 1.5em; }
    @media screen and (min-width: 1104px) {
      .mainTitle h3.mainTitle__title {
        font-size: 2.7rem;
        padding-left: 30px; } }

.mainReadBlock {
  padding: 0 15px; }
  @media screen and (min-width: 1104px) {
    .mainReadBlock {
      padding-left: 30px; } }
  .mainReadBlock p + p {
    margin-top: 1em; }
  .mainReadBlock figure + p {
    margin-top: 1em; }

.mainPhotoBlock {
  padding: 2em 15px 0; }
  @media screen and (min-width: 1104px) {
    .mainPhotoBlock {
      padding-left: 30px; } }

.sectionPart01 {
  background: url(../images/member/column_interview02/concept01_bg.png) no-repeat;
  background-size: cover;
  background-position: left bottom; }
  @media screen and (min-width: 767px) {
    .sectionPart01 .sectionWrap {
      background: rgba(255, 255, 255, 0.7); } }
  @media screen and (min-width: 767px) {
    .sectionPart01__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (min-width: 767px) {
    .sectionPart01__readBlock {
      width: 45%; } }
  .sectionPart01__photoBlock {
    margin: 2em 0 0 auto;
    width: 80%;
    max-width: 550px; }
    @media screen and (min-width: 767px) {
      .sectionPart01__photoBlock {
        margin-top: 0;
        width: 50%; } }

.sectionPart02__photoBlock {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100vw !important;
  margin-left: calc( 50% - 50vw );
  margin-right: calc( 50% - 50vw );
  max-width: none; }
  @media screen and (min-width: 1104px) {
    .sectionPart02__photoBlock {
      margin-top: 4em;
      margin-bottom: 4em;
      width: 1200px !important;
      margin-left: calc( 50% - 1200px / 2 ) !important; } }

.sectionPart03 {
  background: #f2f5f7; }
  .sectionPart03 .mainTitle__read__part span.text {
    font-size: 1.8rem; }
    @media screen and (min-width: 1104px) {
      .sectionPart03 .mainTitle__read__part span.text {
        font-size: 2.7rem; } }
  .sectionPart03__inner {
    margin-top: 5em;
    margin-bottom: 2em; }
    @media screen and (min-width: 767px) {
      .sectionPart03__inner {
        margin-bottom: 6em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media screen and (min-width: 767px) {
      .sectionPart03__inner.photoRight {
        margin-bottom: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; } }
  .sectionPart03__photoBlock {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100vw !important;
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    max-width: none; }
    @media screen and (min-width: 767px) {
      .sectionPart03__photoBlock {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        width: 57vw !important; } }
    @media screen and (min-width: 767px) {
      .sectionPart03__photoBlock.photoRight {
        margin-left: 0;
        margin-right: calc( 50% - 50vw ); } }
  @media screen and (min-width: 767px) {
    .sectionPart03__readBlock {
      width: 35%; } }

.sectionPart04 {
  background: #142e77;
  color: white; }
  .sectionPart04 .sectionWrap {
    padding: 10% !important; }
    @media screen and (min-width: 767px) {
      .sectionPart04 .sectionWrap {
        padding: 40px 80px !important; } }
  @media screen and (min-width: 767px) {
    .sectionPart04__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (min-width: 767px) {
    .sectionPart04__readBlock {
      width: 65%; } }
  @media screen and (min-width: 767px) {
    .sectionPart04__photoBlock {
      width: 25%; } }
  .sectionPart04__mainTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
    line-height: 1.5em; }
    .sectionPart04__mainTitle span.num {
      padding: 0 .3em;
      font-size: 1.2rem;
      border: 1px solid white; }
      @media screen and (min-width: 1104px) {
        .sectionPart04__mainTitle span.num {
          font-size: 1.8rem; } }
      .sectionPart04__mainTitle span.num em {
        padding-left: .2em;
        font-style: normal; }
    .sectionPart04__mainTitle span.text {
      padding-left: .3em;
      font-weight: 600;
      font-size: 2rem; }
      @media screen and (min-width: 1104px) {
        .sectionPart04__mainTitle span.text {
          font-size: 2.7rem; } }
  .sectionPart04__nameBlock {
    margin-bottom: 3em; }
    .sectionPart04__nameBlock__office {
      margin-bottom: 1em; }
    .sectionPart04__nameBlock__name {
      font-size: 3.2rem; }
  .sectionPart04 figure {
    margin-top: 2em; }
