/* brake point */
/* font color */
/* =========================================================
	hack IE
========================================================== */
/* =========================================================
	.alignfull  & .alignwide
========================================================== */
.alignfull {
  width: 100vw !important;
  margin-left: calc( 50% - 50vw );
  margin-right: calc( 50% - 50vw );
  max-width: none; }

@media screen and (max-width: 1103px) {
  .alignfull_sp {
    padding: 0;
    width: 100vw !important;
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    max-width: none; } }

@media screen and (min-width: 1104px) {
  .alignwide {
    width: 1104px !important;
    margin-left: calc( 50% - 1104px / 2 ) !important; } }

/* =========================================================
	.cap
========================================================== */
span.cap {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1%;
  color: #bfbfbf;
  font-size: 1.1rem;
  background: rgba(30, 30, 30, 0.7); }
  @media screen and (min-width: 1104px) {
    span.cap {
      font-size: 1.4rem;
      line-height: 1.6rem; } }

.min-note {
  font-size: 1.2rem; }
  @media screen and (min-width: 1104px) {
    .min-note {
      font-size: 0.8rem; } }

span.minuteWalkTimes {
  font-size: 0.8em; }

/* =========================================================
	.sectionTitle
========================================================== */
.sectionTitle {
  position: relative; }
  .sectionTitle .sectionTitle__sub {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 1.5rem;
    color: #1f1f1f; }
    @media screen and (min-width: 1104px) {
      .sectionTitle .sectionTitle__sub {
        font-size: 2rem;
        margin-bottom: 2em; } }
  .sectionTitle h3 {
    color: #142e77;
    font-size: 2.5rem;
    line-height: 1.5em;
    text-align: center; }
    @media screen and (min-width: 1104px) {
      .sectionTitle h3 {
        font-size: 3.8rem;
        font-weight: 600;
        line-height: 1.7em;
        letter-spacing: 0.1em; } }

.heightLine::before {
  content: "";
  display: block;
  flex-grow: 1;
  background: #1f1f1f;
  width: 1px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: -85px; }
  @media screen and (min-width: 1104px) {
    .heightLine::before {
      height: 95px;
      top: -115px; } }

h4 {
  margin-bottom: 1em;
  font-size: 2rem;
  line-height: 1.5em;
  color: #70452e;
  text-align: center; }
  @media screen and (min-width: 1104px) {
    h4 {
      margin-bottom: 2em;
      font-size: 2.8rem;
      line-height: 1.8em;
      font-weight: 600; } }

.sideAlphabet {
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sideAlphabet::before {
    content: '';
    width: 5%;
    max-width: 15px;
    min-width: 10px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle; }

/* =========================================================
	.gotoBT
========================================================== */
.gotoBT a {
  max-width: initial;
  padding: 18px 0;
  font-size: 1.6rem;
  position: relative;
  display: block;
  margin: 0 auto 10px auto;
  background: #142e77;
  color: #FFF;
  line-height: 1;
  text-align: center;
  transition: .3s; }
  @media screen and (min-width: 1104px) {
    .gotoBT a {
      max-width: 485px;
      padding: 22px 0;
      font-size: 1.8rem; } }

.gotoBT a:hover {
  opacity: .7; }

.gotoBT a::after {
  right: 12px;
  width: 9px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  background: url(../images/common/arw_btn.png) no-repeat;
  background-size: 100% auto;
  transition: .3s; }
  @media screen and (min-width: 1104px) {
    .gotoBT a::after {
      right: 20px; } }

.gotoBT a:hover::after {
  right: 8px; }
  @media screen and (min-width: 1104px) {
    .gotoBT a:hover::after {
      right: 10px; } }

.gotoBT.white a {
  background: white;
  color: #191917; }

.gotoBT.white a::after {
  background: url(../images/common/arw_btn_black.png) no-repeat;
  background-size: 100% auto; }

.gotoBT_comingsoon span {
  max-width: initial;
  padding: 18px 0;
  font-size: 1.6rem;
  position: relative;
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid white;
  color: white;
  line-height: 1;
  text-align: center;
  opacity: .8; }
  @media screen and (min-width: 1104px) {
    .gotoBT_comingsoon span {
      max-width: 485px;
      padding: 22px 0;
      font-size: 1.8rem; } }

.gotoBT_comingsoon.op04 span {
  opacity: .4; }

/* =========================================================
	.page-ttl
========================================================== */
#Content .page-ttlBg {
  background: url(../images/modelroom/bg_ttl.png) no-repeat center center;
  background-size: cover; }

figure {
  position: relative; }
  figure figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 .5em;
    color: #FFF;
    font-size: 1.2rem;
    line-height: 1.4em;
    background: rgba(80, 80, 80, 0.75); }
    @media screen and (min-width: 480px) {
      figure figcaption {
        font-size: 1.4rem; } }

.sectionIntro {
  padding-bottom: 2em; }
  .sectionIntro .sectionTitle {
    margin: 85px auto 30px auto; }
    @media screen and (min-width: 1104px) {
      .sectionIntro .sectionTitle {
        margin: 115px auto 4em auto; } }



.planbnr{
  width: 90%;
  max-width: 1200px;
  margin: 5% auto;
}

.planbnr li{
  display: inline-block;
  margin: 0 2%;
  width: 45%;
}

.planbnr li:hover{
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}


.planbnr li img{
  width: 100%;
}

  @media screen and (max-width: 1104px) {

    .planbnr li{
  display: block;
  margin: 2% 0;
  width: 100%;
}
    }



/* =========================================================
  .cont
========================================================== */

.pc{display: block;}
.sp{display: none;}
 @media screen and (max-width: 1104px) {
.pc{display: none;}
.sp{display: block;}
}

.cont1{
  width: 100%;
  background-image: url(../images/modelroom/cont1_bg_pc.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.cont1 .copy{
  display: block;
  margin: 0 auto;
  width: 87px;
}

  @media screen and (max-width: 1104px) {

    .cont1{
      padding: 40px 0;
      background-image: url(../images/modelroom/cont1_bg_sp.jpg);
      }

  .cont1 .copy{
  width: 50px!important;
  }
}

.cont2{
  background-color: #000;
  color: #fff;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.cont2 .contents {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.85em;
}

.cont2 .contents .left{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: 3%;
  margin-bottom: 40px;
}


.cont2 .contents .left p {
  margin-top: 40px;
}

.cont2 .contents .right{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
  width: 45%;
}

  @media screen and (max-width: 1104px) {

    .cont2{
      padding-top: 20px;
      padding-bottom: 40px;
    }
    .cont2 .contents .left{
      display: block;
      width: 100%;
      margin-right: 0%;
    }

    .cont2 .contents .right{
      display: block;
      width: 100%;
    }

  }

.border{
  width: 100%;
  background-color: #000;
}

.border .inner{
  border-top: 1px solid #717171;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}


.cont3{
  background-color: #000;
  color: #fff;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.cont3 .contents {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.85em;
}

.cont3 .contents .right{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-bottom: 40px;
}


.cont3 .contents .right p {
  margin-top: 40px;
}

.cont3 .contents .left{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
  width: 45%;
  margin-right: 3%;
}

  @media screen and (max-width: 1104px) {

    .cont3{
      padding-top: 20px;
      padding-bottom: 40px;
    }
    .cont3 .contents .right{
      display: block;
      width: 100%;
    }

    .cont3 .contents .left{
      display: block;
      width: 100%;
      margin-right: 0%;
    }

  }




/* =========================================================
  .slider
========================================================== */




.carousel-wrapper {
  position: relative;
}
.carousel {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev{
    color: #fff!important;
    opacity: 0.6!important;
}

.swiper-button-next{
    color: #fff!important;
    opacity: 0.6!important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
background-color: #142e77;
}


.swiper-slide .item .sub{
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
  color: #fff;
  font-size: .45em;
}