<!DOCTYPE html>
<html lang="ja">
<head>
<!-- data_layer -->
<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'item_pagetype': '',
    'item_category': 'new',
  });
</script>
<!-- End data_layer -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WMCBSV');</script>
<!-- End Google Tag Manager -->


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="robots" content="noindex">
<title>【公式】シエリア姫路城 東｜姫路43｜関電不動産開発がお届けする新築分譲マンション</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanmp-noto.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,500,600,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond:500,700&display=swap" rel="stylesheet"> 

<!-- <link rel="stylesheet" href="css/common.css" media="all"> -->
<link rel="stylesheet" href="css/index.css" media="screen and (min-width: 768px)">
<link rel="stylesheet" href="css/index2.css" media="screen and (max-width: 769px)">
<link rel="stylesheet" href="../css/common.css" media="all">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="js/index.js"></script>

<script src="../js/jquery.js"></script>
<script src="../js/breakpoints.js"></script>
<script src="../js/jquery.inview.js"></script>
<script src="../js/index.js"></script>
	
</head>

<body id="" class="" ontouchstart="">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMCBSV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="Page" class="pages">
<script type="text/javascript">parts('../','header.html');</script>
<script type="text/javascript">parts('../','footFixNav.html');</script>

<section class="sectionView">
	
	<div class="sectionView__view">
		<div class="middle">
		<div class="middle__center">
				<ul class="middle__center__list">
					<li class="f16_00 flex-item-00-shrink"><img src="../view2/img/bt_16_00.png" alt=""/></li>
					<li class="f16_01 flex-item-01-shrink"><img src="../view2/img/bt_16_01.png" alt=""/></li>
					<li class="f16_02 flex-item-02-shrink"><img src="../view2/img/bt_16_02.png" alt=""/></li>
					<li class="f16_03 flex-item-03-shrink"><img src="../view2/img/bt_16_03.png" alt=""/></li>
					<li class="f16_04 flex-item-04-shrink"><img src="../view2/img/bt_16_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f15_00 flex-item-00-shrink"><img src="../view2/img/bt_15_00.png" alt=""/></li>
					<li class="f15_01 flex-item-01-shrink"><img src="../view2/img/bt_15_01.png" alt=""/></li>
					<li class="f15_02 flex-item-02-shrink"><!-- <a href="../view/f15_d.html" target="_blank"> --><img src="../view2/img/bt_15_d_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f15_03 flex-item-03-shrink"><!-- <a href="../view/f15_cr.html" target="_blank"> --><img src="../view2/img/bt_15_cr_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f15_04 flex-item-04-shrink"><img src="../view2/img/bt_15_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f14_00 flex-item-00-shrink"><img src="../view2/img/bt_14_00.png" alt=""/></li>
					<li class="f14_01 flex-item-01-shrink"><!-- <a href="../view/f14_a.html" target="_blank"> --><img src="../view2/img/bt_14_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f14_02 flex-item-02-shrink"><a href="../view/f14_b.html" target="_blank"><img src="../view2/img/bt_14_b_on.png" class="fade-rollout" alt=""/></a></li>
					<li class="f14_03 flex-item-03-shrink"><a href="../view/f14_c.html" target="_blank"><img src="../view2/img/bt_14_c_on.png" class="fade-rollout" alt=""/></a></li>
					<li class="f14_04 flex-item-04-shrink"><img src="../view2/img/bt_14_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f13_00 flex-item-00-shrink"><img src="../view2/img/bt_13_00.png" alt=""/></li>
					<li class="f13_01 flex-item-01-shrink"><!-- <a href="../view/f13_a.html" target="_blank"> --><img src="../view2/img/bt_13_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f13_02 flex-item-02-shrink"><!-- <a href="../view/f13_b.html" target="_blank"> --><img src="../view2/img/bt_13_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f13_03 flex-item-03-shrink"><!-- <a href="../view/f13_c.html" target="_blank"> --><img src="../view2/img/bt_13_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f13_04 flex-item-04-shrink"><img src="../view2/img/bt_13_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f12_00 flex-item-00-shrink"><img src="../view2/img/bt_12_00.png" alt=""/></li>
					<li class="f12_01 flex-item-01-shrink"><!-- <a href="../view/f12_a.html" target="_blank"> --><img src="../view2/img/bt_12_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f12_02 flex-item-02-shrink"><!-- <a href="../view/f12_b.html" target="_blank"> --><img src="../view2/img/bt_12_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f12_03 flex-item-03-shrink"><!-- <a href="../view/f12_c.html" target="_blank"> --><img src="../view2/img/bt_12_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f12_04 flex-item-04-shrink"><img src="../view2/img/bt_12_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f11_00 flex-item-00-shrink"><img src="../view2/img/bt_11_00.png" alt=""/></li>
					<li class="f11_01 flex-item-01-shrink"><!-- <a href="../view/f11_a.html" target="_blank"> --><img src="../view2/img/bt_11_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f11_02 flex-item-02-shrink"><!-- <a href="../view/f11_b.html" target="_blank"> --><img src="../view2/img/bt_11_b_off.png" class="fade-rollout" alt=""/></a></li>
					<li class="f11_03 flex-item-03-shrink"><a href="../view/f11_c.html" target="_blank"><img src="../view2/img/bt_11_c_off.png" class="fade-rollout" alt=""/></a></li>
					<li class="f11_04 flex-item-04-shrink"><img src="../view2/img/bt_11_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f10_00 flex-item-00-shrink"><img src="../view2/img/bt_10_00.png" alt=""/></li>
					<li class="f10_01 flex-item-01-shrink"><!-- <a href="../view/f10_a.html" target="_blank"> --><img src="../view2/img/bt_10_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f10_02 flex-item-02-shrink"><!-- <a href="../view/f10_b.html" target="_blank"> --><img src="../view2/img/bt_10_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f10_03 flex-item-03-shrink"><!-- <a href="../view/f10_c.html" target="_blank"> --><img src="../view2/img/bt_10_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f10_04 flex-item-04-shrink"><img src="../view2/img/bt_10_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f09_00 flex-item-00-shrink"><img src="../view2/img/bt_09_00.png" alt=""/></li>
					<li class="f09_01 flex-item-01-shrink"><!-- <a href="../view/f09_a.html" target="_blank"> --><img src="../view2/img/bt_09_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f09_02 flex-item-02-shrink"><!-- <a href="../view/f09_b.html" target="_blank"> --><img src="../view2/img/bt_09_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f09_03 flex-item-03-shrink"><!-- <a href="../view/f09_c.html" target="_blank"> --><img src="../view2/img/bt_09_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f09_04 flex-item-04-shrink"><img src="../view2/img/bt_09_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f08_00 flex-item-00-shrink"><img src="../view2/img/bt_08_00.png" alt=""/></li>
					<li class="f08_01 flex-item-01-shrink"><!-- <a href="../view/f08_a.html" target="_blank"> --><img src="../view2/img/bt_08_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f08_02 flex-item-02-shrink"><!-- <a href="../view/f08_b.html" target="_blank"> --><img src="../view2/img/bt_08_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f08_03 flex-item-03-shrink"><!-- <a href="../view/f08_c.html" target="_blank"> --><img src="../view2/img/bt_08_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f08_04 flex-item-04-shrink"><img src="../view2/img/bt_08_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f07_00 flex-item-00-shrink"><img src="../view2/img/bt_07_00.png" alt=""/></li>
					<li class="f07_01 flex-item-01-shrink"><!-- <a href="../view/f07_a.html" target="_blank"> --><img src="../view2/img/bt_07_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f07_02 flex-item-02-shrink"><!-- <a href="../view/f07_b.html" target="_blank"> --><img src="../view2/img/bt_07_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f07_03 flex-item-03-shrink"><!-- <a href="../view/f07_c.html" target="_blank"> --><img src="../view2/img/bt_07_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f07_04 flex-item-04-shrink"><img src="../view2/img/bt_07_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f06_00 flex-item-00-shrink"><img src="../view2/img/bt_06_00.png" alt=""/></li>
					<li class="f06_01 flex-item-01-shrink"><!-- <a href="../view/f06_a.html" target="_blank"> --><img src="../view2/img/bt_06_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f06_02 flex-item-02-shrink"><!-- <a href="../view/f06_b.html" target="_blank"> --><img src="../view2/img/bt_06_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f06_03 flex-item-03-shrink"><!-- <a href="../view/f06_c.html" target="_blank"> --><img src="../view2/img/bt_06_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f06_04 flex-item-04-shrink"><img src="../view2/img/bt_06_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f05_00 flex-item-00-shrink"><img src="../view2/img/bt_05_00.png" alt=""/></li>
					<li class="f05_01 flex-item-01-shrink"><!-- <a href="../view/f05_a.html" target="_blank"> --><img src="../view2/img/bt_05_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f05_02 flex-item-02-shrink"><!-- <a href="../view/f05_b.html" target="_blank"> --><img src="../view2/img/bt_05_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f05_03 flex-item-03-shrink"><!-- <a href="../view/f05_c.html" target="_blank"> --><img src="../view2/img/bt_05_c_off.png" class="fade-rollout" alt=""/></a></li>
					<li class="f05_04 flex-item-04-shrink"><img src="../view2/img/bt_05_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f04_00 flex-item-00-shrink"><img src="../view2/img/bt_04_00.png" alt=""/></li>
					<li class="f04_01 flex-item-01-shrink"><!-- <a href="../view/f04_a.html" target="_blank"> --><img src="../view2/img/bt_04_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f04_02 flex-item-02-shrink"><!-- <a href="../view/f04_b.html" target="_blank"> --><img src="../view2/img/bt_04_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f04_03 flex-item-03-shrink"><!-- <a href="../view/f04_c.html" target="_blank"> --><img src="../view2/img/bt_04_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f04_04 flex-item-04-shrink"><img src="../view2/img/bt_04_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f03_00 flex-item-00-shrink"><img src="../view2/img/bt_03_00.png" alt=""/></li>
					<li class="f03_01 flex-item-01-shrink"><!-- <a href="../view/f03_a.html" target="_blank"> --><img src="../view2/img/bt_03_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f03_02 flex-item-02-shrink"><!-- <a href="../view/f03_b.html" target="_blank"> --><img src="../view2/img/bt_03_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f03_03 flex-item-03-shrink"><!-- <a href="../view/f03_c.html" target="_blank"> --><img src="../view2/img/bt_03_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f03_04 flex-item-04-shrink"><img src="../view2/img/bt_03_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f02_00 flex-item-00-shrink"><img src="../view2/img/bt_02_00.png" alt=""/></li>
					<li class="f02_01 flex-item-01-shrink"><!-- <a href="../view/f02_a.html" target="_blank"> --><img src="../view2/img/bt_02_a_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f02_02 flex-item-02-shrink"><!-- <a href="../view/f02_b.html" target="_blank"> --><img src="../view2/img/bt_02_b_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f02_03 flex-item-03-shrink"><!-- <a href="../view/f02_c.html" target="_blank"> --><img src="../view2/img/bt_02_c_off.png" class="fade-rollout" alt=""/><!-- </a> --></li>
					<li class="f02_04 flex-item-04-shrink"><img src="../view2/img/bt_02_04.png" alt=""/></li>
				</ul>
				<ul class="middle__center__list">
					<li class="f00_00 flex-item-00-shrink"><img src="../view2/img/bt_00_00.png" alt=""/></li>
					<li class="f00_01 flex-item-01-shrink"><img src="../view2/img/bt_00_01.png" alt=""/></li>
					<li class="f00_02 flex-item-02-shrink"><img src="../view2/img/bt_00_02.png" alt=""/></li>
					<li class="f00_03 flex-item-03-shrink"><img src="../view2/img/bt_00_03.png" alt=""/></li>
					<li class="f00_04 flex-item-04-shrink"><img src="../view2/img/bt_00_04.png" alt=""/></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="sectionView__title">
		<p class="sectionView__title_img"><img src="../view2/img/title_text.png" class="pc"><img src="../view2/img/title_text_sp.png" class="sp"></p>
	</div>
	
</section>

<a href="../special/special_view.html" class="view_bnr">
	<img src="img/bnr_view_pc.jpg" class="pc">
	<img src="img/bnr_view_sp.jpg" class="sp">
</a>
<script type="text/javascript">parts('../','cv.html');</script>

<section id="Notes">
<div class="sectionWrap">
<ul>
<li>※掲載の写真は2019年6月に撮影したものです。</li>
</ul>
</div>
<!-- / #Notes --></section>

<script type="text/javascript">parts('../','footer.html');</script>
</div><!-- #Page // -->

<script>
$(function() {
	$('.nav04').addClass('current');
});
</script>

<!-- Yahoo Tag Manager -->
<!-- End Yahoo Tag Manager -->
<!-- YTM tag -->
	<script id="tagjs" type="text/javascript">
	(function () {
	var tagjs = document.createElement("script");
	var s = document.getElementsByTagName("script")[0];
	tagjs.async = true;
	tagjs.src = "//s.yjtag.jp/tag.js#site=h8ocGPj";
	s.parentNode.insertBefore(tagjs, s);
	}());
	</script>
	<noscript>
	<iframe src="//b.yjtag.jp/iframe?c=h8ocGPj" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
	</noscript>

	<!-- YTM tag -->


</body>
</html>
