<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
<meta name="description" content="descriptionテキストが入ります" />
<meta name="keywords" content="キーワード,キーワード,キーワード,キーワード,キーワード" />
<meta property="og:title" content="タイトル">
<meta property="og:type" content="website">
<meta property="og:url" content="http://任意のURL">
<meta property="og:image" content="http://任意のURL/og_image.png">
<meta property="og:site_name" content="">
<meta property="og:description" content="" />
<meta property="fb:app_id" content="任意のID">
<meta name="format-detection" content="telephone=no"><!-- iphone 電話番号リンク対策 -->
	
<title></title>

<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/panorama.css">

</head>

<body id="view" data-controller="view" data-action="index">

	
<div style="padding-top: 200px; padding-bottom: 30px; text-align: center;">▼パノラマ</div>
	
<div class="viewPanoramaWrap alignfull">
	<div class="viewPanorama is-loading">
          <div class="panoramaContent js-viewPanoramaDraggable is-active" id="pano04">
            <div class="viewArea">
              <div class="image"><img src="img/index/p5.jpg" alt="眺望写真"></div>
            </div>
          </div>
        </div>
	
	<p class="note">※現地最上階（13階）相当より2019年6月に撮影したもので、実際とは異なります。</p>
</div>
	


	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="js/init.min.js"></script>
<script src="js/contents.min.js"></script><!-- タブ切り替えしない場合は不要 -->
<!-- YTM tag -->
	<script id="tagjs" type="text/javascript">
	(function () {
	var tagjs = document.createElement("script");
	var s = document.getElementsByTagName("script")[0];
	tagjs.async = true;
	tagjs.src = "//s.yjtag.jp/tag.js#site=h8ocGPj";
	s.parentNode.insertBefore(tagjs, s);
	}());
	</script>
	<noscript>
	<iframe src="//b.yjtag.jp/iframe?c=h8ocGPj" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
	</noscript>

	<!-- YTM tag -->


</body>
</html>