<!DOCTYPE html>
<html lang="ja">
<head>
<!-- data_layer -->
<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'item_pagetype': '',
    'item_category': 'new',
  });
</script>
<!-- End data_layer -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WMCBSV');</script>
<!-- End Google Tag Manager -->


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="robots" content="noindex">
<title>【公式】シエリア姫路城 東｜姫路43｜関電不動産開発がお届けする分譲マンション</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanmp-noto.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,500,600,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond:500,700&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="css/common.css" media="all">
<link rel="stylesheet" href="css/index.css" media="all">
	
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="js/index.js"></script>
</head>

<body id="photoView" class="">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMCBSV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	
<div class="sectionPhoto">
	<!--<div class="sectionPhoto__type alphabet_font_min">
		<p class="floor"><span>14</span>F</p>
		<p><span>A</span>Typre</p>
	</div>sectionPhoto__type-->


	<div class="viewPanoramaWrap alignfull">
		
		
		<div class="viewPanorama">
			<div class="imageBlock"><img src="img/photo_03a.png" alt="眺望写真"></div>
			
			<div class="floorMapBlock">
				<div class="floorMapBlock__inner">
						<div class="floorMapBlock__type alphabet_font_min">
							<p class="floor"><span>3</span>F</p>
							<p class="type"><span>A</span>Typre</p>
						</div><!--sectionPhoto__type-->

						<div class="floorMapBlock__floorImg">
							<img src="img/floor_map_a.png" alt="間取り">
						</div>
				</div><!--floorMapBlock__inner-->
			</div><!--floorMapBlock-->
			
		</div>
		
		<div class="note"><p>※現地3階相当より2019年11月に撮影したもので、実際とは異なります。※将来周辺に新たな建築物建築により変化する場合がございます。予めご了承下さい。</p></div>


	</div>

</div><!--sectionPhoto-->

<!-- YTM tag -->
	<script id="tagjs" type="text/javascript">
	(function () {
	var tagjs = document.createElement("script");
	var s = document.getElementsByTagName("script")[0];
	tagjs.async = true;
	tagjs.src = "//s.yjtag.jp/tag.js#site=h8ocGPj";
	s.parentNode.insertBefore(tagjs, s);
	}());
	</script>
	<noscript>
	<iframe src="//b.yjtag.jp/iframe?c=h8ocGPj" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
	</noscript>

	<!-- YTM tag -->


</body>
</html>
